img {
    width: 30%;
    height: 30%;
    margin: calc(9%/6);
    border-radius: 10%;
    transition: ease-out 0.5s;
}

img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: ease-in 0.2s;
}

body {
    background: url(https://images.unsplash.com/photo-1643785878170-3a8711114100?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) fixed center/cover no-repeat;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 30%;
    padding: 1em 0;
    margin-left: 1.5%;
    border-bottom: 2px solid #f1f1f1;
    color: #fff;
    transition: ease-out 1s;
}

nav:hover {
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
    cursor: pointer;
    transform: translateY(-10px);
    transition: ease-in 1ss;
}